
body {
    font-family: "poppins", sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 500px;
    position:relative;
    line-height: 1.5rem;
    overflow: auto;
}

h1,h2,h3, h4{
    color:#222;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background-color: #df003a;
    color: #fff;
  }

  ul {
      padding-left: 0;
  }

  li {
      list-style-type: none; 
  }