.banner{
    background: url("../img/header-bg.jpg") center;
    background-size: cover;
    height: 600px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.banner_content{
    text-align:center;
    position:relative;
    top: 90px;
    padding-top: 20px;
    font-size: 30px;
    margin: 0 auto;
    width: 65%;
}

.banner_content p {
    font-size: 14px;
    font-weight: 300px;
}

.banner_content h1{
    color: #222222;
    font-size: 40px;
    font-weight: 700px;
}