
body {
    font-family: "poppins", sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300px;
    position:relative;
}

h1,h2,h3, h4{
    color:#222;
}

*, *::before, *::after {
    box-sizing: border-box;
}