.footer {
    background: #222;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer h6 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.footer ul {
    padding-left: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
}

.footer-nav-links {
    margin-right: 30px;
}

.footer-nav-links a{
    text-decoration: none;
    color: #fff;
}

.footer-nav-links li{
    list-style-type:none;
    color: white;
    padding-left: 0;
}

@media (max-width: 1000px) {
    .container {
        display: block;
        max-width: 80%;
    }
}

.newsletter {
    margin-right: 30px;
    color: #fff;
}

.newsletter input {
    border-radius: 20px;
    padding-left: 20px;
    border:none;
    line-height: 40px;
    color: #777;
    font-weight: 500;
}

.newsletter button{
    border-radius: 20px;
    color: #fff;
    background: #df003a;
    border: none;
    padding-left: 30px;
    padding-right: 60px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 20px;
    position:relative;
    cursor: pointer;
}

.newsletter span {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
}

.footer-bottom-section {
    color: #fff;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.fa-heart-o {
    color: #df003a;
}

.colorlib {
    color: #df003a;
}

.social-media {
    flex: 0 0 10%;
    align-self: center;
    padding-top: 30px;
}

.social-media a {
    background: #111;
    padding: 10px;
    color: #ccc;
    height: 40px;
    width: 40px;
    cursor: pointer;
}